.slide
  %h1.title Core Ruby
  
.slide
  %h2 What makes Ruby different?
  %ul
    %li Everything is an object
    %li Everything is an expression
    %li Blocks
    %li Open classes
    %li Metaprogramming
    
.slide
  %h2 Everything is an object
  %ul
    %li No basic types
    %li Integers are objects
    %li 
      Even <code>true</code>, <code>false</code>, and <code>nil</code> 
      are objects
    %li Every message has a receiver
    %li Although the receiver is often implicitly <code>self</code>
    %li Operators are actually methods

