.slide
  %h1.title JavaScript Async Libraries


https://github.com/kriskowal/q
https://github.com/creationix/step
https://github.com/caolan/async
https://github.com/jashkenas/coffee-script/pull/1942


