.slide
  %h1.title The "return false;" Conspiracy

.slide
  %h2 The Rule
  %ul
    %li Return False!
    %li Prevents browser behaviour, which is good!
    %li Prevents all browser, which is bad!

.slide
  %h2 The Problem
  %ul
    %li There are more than one type of click!
    %li Right-click
    %li Left-click
    %li Middle-click
    %li Alt-
    %li Ctrl- / Cmd-

.slide
  %h2 Free Your Mind!
  %ul
    %li 

.slide
  %h2 Solution!
  %pre(class="brush: js;")
    :preserve
      if(...)
        ...



